*{
    font-family: 'hind', sans-serif;
}

nav{
    Background-color: #BCBAB8;
    color: white;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px groove #625757;
    box-shadow: 4px;
    display: flex;
    justify-content: space-between;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}
.container{
    border: 5px groove #625757;
    border-radius: 6px;
    margin: 3px;
    padding: 6px;
    background-color: #eeeeee;
}

.socials{
    background-color: #BCBAB8;
}
/**
color palette:
    light grey: eeeeee
    mid grey:   BCBAB8
    brown-grey: 9D8F8F
    dark grey:  625757
**/

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1368){

}